.InputContainer {
    margin: 20px auto;
    width: 90px;
    /*width: 100%;*/
    background-color: rgb(25, 39, 52);
    border-bottom: solid 2px rgb(136, 153, 166);
}

.InputLabel {
    padding-left: 10px;
    color: rgb(136, 153, 166);
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
}

.LoginInput {
    color: white;
    font-size: 18px;
    padding: 0;
    height: 29px;
    width: 100%;
    background-color: rgb(25, 39, 52);
    border: none;
}

.BirthdaySelector {
    color: white;
    font-size: 18px;
    padding: 0;
    height: 29px;
    width: 100%;
    background-color: rgb(25, 39, 52);
    border: none;
}