/* header */
.UserName {
    font-weight: bold;
    font-size: 20px;
}

.TweetCount {
    color: #8899A6;
    font-size: 13px;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

/* profile section */
.Header {
    width: 100%;
    display: flex;
}
