.Header {
    width: 100%;
    height: 53px;
    border-bottom: solid 1px rgb(136, 153, 166);
    display: flex;
}

.Icon {
    color: #1DA1F2;
    padding: 15px 15px;
}

.ButtonWrapper {
    margin-left: auto;
    padding: 12px 12px;
}

.tweetButton {
    color: white;
    border: none;
    background-color: #1DA1F2;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 15px;
    margin-left: auto;
}