.TweetCreate {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #15202B;
}

.RightContainer {
    max-height: 400px;
    width: 100%;
    padding-right: 15px;
    margin-top: 13px;
}

.InputElement {
    margin-top: 8px;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    background-color: #15202B;
    border: none;
    border-bottom: solid 1px rgb(136, 153, 166);
    resize: none;
    outline: none;
    color: white;
    font-size: 19px;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}